<ion-header>
   <ion-toolbar> 
    <table>
        <tr>
            <td><ion-img src="./assets/icon/charactersblue.png"></ion-img></td>            
        </tr>
   </table>   
 </ion-toolbar>
</ion-header>
<ion-content class="font_red" padding class="background">
<ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanges($event)"></ion-searchbar>
<ion-item>
    <ion-label class="font_red">Select Search type</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanges($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="char_id">ID</ion-select-option>
      <ion-select-option value="category">Category</ion-select-option> 
      <ion-select-option value="random">Random</ion-select-option>  
      <ion-select-option value="name">Name</ion-select-option>   
    </ion-select>
  </ion-item>
<ion-list>    
    <ion-item button detail lines="inset" *ngFor="let character of characters | async" (click)="openDetails(character)">
     <ion-text color="medium">
      <ion-icon name="checkmark-outline"></ion-icon>  {{character?.name}}
    </ion-text>
    </ion-item>    
  </ion-list>
</ion-content>