<ion-header>
   <ion-toolbar color="primary"> 
    <ion-avatar>
      <img src="./assets/icon/character.ico" />
    </ion-avatar>
    <ion-title>Quotes</ion-title>   
 </ion-toolbar>
</ion-header>
<ion-content padding class="background">
    <ion-searchbar class="font_red" [(ngModel)]="searchTerm" (ionChange)="searchChanges($event)"></ion-searchbar>
        <ion-item>
            <ion-label class="font_red">Select  type</ion-label>
            <ion-select class="font_red" [(ngModel)]="type" (ionChange)="searchChanges($event)">
                <ion-select-option value="">All</ion-select-option>
                <ion-select-option value="quote_id">ID</ion-select-option>
                <ion-select-option value="author">Author</ion-select-option>
                <ion-select-option value="random">Random</ion-select-option>
                <ion-select-option value="random_author">Random Author</ion-select-option>     
            </ion-select>
        </ion-item>
    <ion-list>    
        <ion-item button detail lines="inset" *ngFor="let quote of quotes | async" (click)="openDetails(quote)">
            <ion-text class="font_blue">
                <ion-icon name="checkmark-outline"></ion-icon>  {{quote?.quote_id}} Quote
            </ion-text>
        </ion-item>    
  </ion-list>
</ion-content>
