<ion-header>
   <ion-toolbar color="primary"> 
    <ion-avatar>
      <img src="./assets/icon/character.ico" />
    </ion-avatar>
    <ion-title>Deaths</ion-title>   
 </ion-toolbar>
</ion-header>
<ion-content padding class="background">
    <ion-searchbar class="font_red" [(ngModel)]="searchTerm" (ionChange)="searchChanges($event)"></ion-searchbar>
        <ion-item>
            <ion-label class="font_red">Select type</ion-label>
            <ion-select class="font_red" [(ngModel)]="type" (ionChange)="searchChanges($event)">
                <ion-select-option value="">All</ion-select-option>
                <ion-select-option value="name">Name</ion-select-option>
                <ion-select-option value="deathCount">Death Count</ion-select-option> 
                <ion-select-option value="random">Random</ion-select-option>     
            </ion-select>
        </ion-item>
     <ion-list>    
        <ion-item  *ngFor="let death of deaths | async" >
            <ion-text class="font_blue">
                <ion-icon name="checkmark-outline"></ion-icon>  {{death?.death_id}} {{death?.death}} {{death?.deathCount}}
            </ion-text>
        </ion-item>    
  </ion-list>
</ion-content>
